In [1]:
import os
import pandas as pd
import json

def parse_data(filename):
    df1 = pd.read_csv(filename)
    df2 = df1.rename(columns={"trnOpDate":"乘車日",
            "staCode":"車站代碼",
            "gateInComingCnt":"進站人數",
            "gateOutGoingCnt":"出站人數"})
    with open('車站基本資料集.json',encoding='utf-8') as file:
        json_data = json.load(file)
        stations_info = pd.DataFrame(json_data,columns=['stationCode','stationName'])
        stations_info = stations_info.astype({'stationCode':'int32'})
    df3 = pd.merge(df2,stations_info,left_on='車站代碼',right_on='stationCode')
    df4 = df3.rename(columns={'stationName':'車站名稱'})
    df5 = df4.reindex(columns=['乘車日','車站名稱','進站人數','出站人數'])
    df5['乘車日'] = pd.to_datetime(df5['乘車日'].astype(str))
    return df5

def main():
    current_dir = os.getcwd()
    csv_dir = os.path.join(current_dir,'每日各站進出站人數')
    files_and_dirs = os.listdir(csv_dir)
    all_csv_files = [filename for filename in files_and_dirs if '每日各站進出站人數' in filename]
    sorted_csv_files = sorted(all_csv_files)
    all_final_dfs = [] 
    for filename in sorted_csv_files:
        abs_filename = os.path.join(csv_dir,filename)
        all_final_dfs.append(parse_data(abs_filename))
    df_done = pd.concat(all_final_dfs)
    df_done1 = df_done.set_index('乘車日')
    return df_done1 


if __name__ == '__main__':
    df_done1 = main()

In [ ]:
df_done1[['車站名稱', '進站人數']]

In [4]:
df_done1.loc['2019-04-23':'2019-04-24']

           車站名稱  進站人數  出站人數
乘車日
2019-04-23   基隆  8442  7743
2019-04-23   三坑  1394  1348
2019-04-23   八堵  2770  2423
2019-04-23   七堵  6113  6335
2019-04-23   百福  2680  2726
...         ...   ...   ...
2019-04-24   瑞芳  5429  5919
2019-04-24  海科館    58    78
2019-04-24  八斗子   108   159
2019-04-24  四腳亭   691   641
2019-04-24   暖暖   427   417

[477 rows x 3 columns]

In [ ]:
df_done1.query('車站名稱=="基隆"')

In [6]:
df_done1.loc['2019']

           車站名稱  進站人數  出站人數
乘車日
2019-04-23   基隆  8442  7743
2019-04-23   三坑  1394  1348
2019-04-23   八堵  2770  2423
2019-04-23   七堵  6113  6335
2019-04-23   百福  2680  2726
...         ...   ...   ...
2019-12-31   瑞芳  5779  5782
2019-12-31  海科館   146   142
2019-12-31  八斗子   116   134
2019-12-31  四腳亭   654   585
2019-12-31   暖暖   448   396

[60129 rows x 3 columns]