In [1]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df1

        洲名   國家          日期    總確診數  新增確診數      總人口數
0       亞洲  阿富汗  2020-02-24       5      5  39835428
1       亞洲  阿富汗  2020-02-25       5      0  39835428
2       亞洲  阿富汗  2020-02-26       5      0  39835428
3       亞洲  阿富汗  2020-02-27       5      0  39835428
4       亞洲  阿富汗  2020-02-28       5      0  39835428
...     ..  ...         ...     ...    ...       ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171
187881  非洲  辛巴威  2022-07-03  255586      0  15092171
187882  非洲  辛巴威  2022-07-04  255726    140  15092171
187883  非洲  辛巴威  2022-07-05  255755     29  15092171
187884  非洲  辛巴威  2022-07-06  255805     50  15092171

[187885 rows x 6 columns]

In [2]:
df_tw = df1.query('國家=="台灣"')
df_tw

        洲名  國家          日期     總確診數  新增確診數      總人口數
163986  亞洲  台灣  2020-01-16        0      0  23855008
163987  亞洲  台灣  2020-01-17        0      0  23855008
163988  亞洲  台灣  2020-01-18        0      0  23855008
163989  亞洲  台灣  2020-01-19        0      0  23855008
163990  亞洲  台灣  2020-01-20        0      0  23855008
...     ..  ..         ...      ...    ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008

[903 rows x 6 columns]

In [5]:
df_tw_2021 = df_tw.query('日期>="2021-01-01" and 日期<"2022-01-01"')

In [6]:
df_tw_2021.query('新增確診數 >= 100')

        洲名  國家          日期   總確診數  新增確診數      總人口數
164471  亞洲  台灣  2021-05-15   1475    185  23855008
164472  亞洲  台灣  2021-05-16   1682    207  23855008
164473  亞洲  台灣  2021-05-17   2017    335  23855008
164474  亞洲  台灣  2021-05-18   2260    243  23855008
164475  亞洲  台灣  2021-05-19   2533    273  23855008
164476  亞洲  台灣  2021-05-20   2825    292  23855008
164477  亞洲  台灣  2021-05-21   3139    314  23855008
164478  亞洲  台灣  2021-05-22   3862    723  23855008
164479  亞洲  台灣  2021-05-23   4322    460  23855008
164480  亞洲  台灣  2021-05-24   4917    595  23855008
164481  亞洲  台灣  2021-05-25   5456    539  23855008
164482  亞洲  台灣  2021-05-26   6091    635  23855008
164483  亞洲  台灣  2021-05-27   6761    670  23855008
164484  亞洲  台灣  2021-05-28   7315    554  23855008
164485  亞洲  台灣  2021-05-29   7806    491  23855008
164486  亞洲  台灣  2021-05-30   8160    354  23855008
164487  亞洲  台灣  2021-05-31   8511    351  23855008
164488  亞洲  台灣  2021-06-01   8842    331  23855008
164489  亞洲  台灣  2021-06-02   9389    547  23855008
164490  亞洲  台灣  2021-06-03   9974    585  23855008
164491  亞洲  台灣  2021-06-04  10446    472  23855008
164492  亞洲  台灣  2021-06-05  10956    510  23855008
164493  亞洲  台灣  2021-06-06  11298    342  23855008
164494  亞洲  台灣  2021-06-07  11491    193  23855008
164495  亞洲  台灣  2021-06-08  11694    203  23855008
164496  亞洲  台灣  2021-06-09  11968    274  23855008
164497  亞洲  台灣  2021-06-10  12222    254  23855008
164498  亞洲  台灣  2021-06-11  12500    278  23855008
164499  亞洲  台灣  2021-06-12  12746    246  23855008
164500  亞洲  台灣  2021-06-13  12921    175  23855008
164501  亞洲  台灣  2021-06-14  13106    185  23855008
164502  亞洲  台灣  2021-06-15  13241    135  23855008
164503  亞洲  台灣  2021-06-16  13409    168  23855008
164504  亞洲  台灣  2021-06-17  13584    175  23855008
164505  亞洲  台灣  2021-06-18  13771    187  23855008
164506  亞洲  台灣  2021-06-19  13896    125  23855008
164507  亞洲  台灣  2021-06-20  14005    109  23855008
164510  亞洲  台灣  2021-06-23  14260    103  23855008
164511  亞洲  台灣  2021-06-24  14389    129  23855008