In [1]:
import yfinance as yf
import pandas as pd

#國泰金(2882.TW),新光金(2888.TW),中信金(2891.TW),台新金(2887.TW)
all_data = {ticker:yf.download(ticker) for ticker in ['2882.TW','2888.TW','2891.TW','2887.TW']}

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
all_data1 = {ticker:df['Adj Close'] for ticker,df in all_data.items()}
prices_df = pd.DataFrame(all_data1)
prices_df.columns = ['國泰金','新光金','中信金','台新金']
prices_df1 = prices_df.dropna()
prices_df1_2023 = prices_df1.loc['2023']
prices_df1_2023

                  國泰金   新光金        中信金        台新金
Date
2023-01-03  37.808990  8.80  20.349007  13.100577
2023-01-04  37.808990  8.80  20.532745  13.187336
2023-01-05  38.092911  8.88  20.762419  13.360855
2023-01-06  38.566116  8.88  20.762419  13.317475
2023-01-09  39.749123  8.96  21.267698  13.577751
...               ...   ...        ...        ...
2023-12-25  43.329659  8.69  26.602892  16.547298
2023-12-26  43.667797  8.77  26.746174  16.640261
2023-12-27  43.909325  8.87  26.841698  16.686743
2023-12-28  44.247456  8.88  27.128262  16.826187
2023-12-29  44.199154  8.85  27.080502  16.826187

[239 rows x 4 columns]

In [19]:
#平均差
def for_percent(value):
    value *= 100
    return f'{value:.3f}%'



prices_df1_2023_avg_diff = prices_df1_2023.pct_change()
df1 = prices_df1_2023_avg_diff.dropna()
df1.map(lambda value:for_percent(value))

                國泰金      新光金      中信金      台新金
Date
2023-01-04   0.000%   0.000%   0.903%   0.662%
2023-01-05   0.751%   0.909%   1.119%   1.316%
2023-01-06   1.242%   0.000%   0.000%  -0.325%
2023-01-09   3.067%   0.901%   2.434%   1.954%
2023-01-10  -0.714%   0.112%   0.000%   0.319%
...             ...      ...      ...      ...
2023-12-25   0.448%   0.000%   0.360%   0.282%
2023-12-26   0.780%   0.921%   0.539%   0.562%
2023-12-27   0.553%   1.140%   0.357%   0.279%
2023-12-28   0.770%   0.113%   1.068%   0.836%
2023-12-29  -0.109%  -0.338%  -0.176%   0.000%

[238 rows x 4 columns]

In [18]:
#每日差
'''
def formap(value):
    return round(value,ndigits=3)
'''

prices_df1_2023_day_diff = prices_df1_2023 - prices_df1_2023.shift(1)
df2 = prices_df1_2023_day_diff.dropna()
df2.map(lambda value:round(value,ndigits=3))

              國泰金   新光金    中信金    台新金
Date
2023-01-04  0.000  0.00  0.184  0.087
2023-01-05  0.284  0.08  0.230  0.174
2023-01-06  0.473  0.00  0.000 -0.043
2023-01-09  1.183  0.08  0.505  0.260
2023-01-10 -0.284  0.01  0.000  0.043
...           ...   ...    ...    ...
2023-12-25  0.193  0.00  0.096  0.046
2023-12-26  0.338  0.08  0.143  0.093
2023-12-27  0.242  0.10  0.096  0.046
2023-12-28  0.338  0.01  0.287  0.139
2023-12-29 -0.048 -0.03 -0.048  0.000

[238 rows x 4 columns]

In [12]:
#相關係數
prices_df1_2023_avg_diff.corr()

          國泰金       新光金       中信金       台新金
國泰金  1.000000  0.611739  0.560722  0.549925
新光金  0.611739  1.000000  0.396487  0.410888
中信金  0.560722  0.396487  1.000000  0.518583
台新金  0.549925  0.410888  0.518583  1.000000