In [26]:
import pandas as pd
file_path = '每日各站進出站人數/每日各站進出站人數2020.csv'
df1 = pd.read_csv(file_path)

In [27]:
df2 = df1.rename(columns={"trnOpDate":"乘車日",
            "staCode":"車站代碼",
            "gateInComingCnt":"進站人數",
            "gateOutGoingCnt":"出站人數"})
df2

            乘車日  車站代碼  進站人數  出站人數
0      20200101   900  7552  8154
1      20200101   910  1020  1135
2      20200101   920  1623  1972
3      20200101   930  4130  4813
4      20200101   940  1818  2128
...         ...   ...   ...   ...
86927  20201231  7360  3523  3602
86928  20201231  7361     3    18
86929  20201231  7362    28    34
86930  20201231  7380   609   604
86931  20201231  7390   377   444

[86932 rows x 4 columns]

In [28]:
import json
from pprint import pprint

with open('車站基本資料集.json',encoding='utf-8') as file:
   json_data = json.load(file)

stations_info = pd.DataFrame(json_data,columns=['stationCode','stationName'])
stations_info['stationCode'] = stations_info['stationCode'].map(lambda value:int(value))
stations_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationCode  243 non-null    int64
 1   stationName  243 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.9+ KB

In [29]:
import json
from pprint import pprint

with open('車站基本資料集.json',encoding='utf-8') as file:
   json_data = json.load(file)

stations_info = pd.DataFrame(json_data,columns=['stationCode','stationName'])
stations_info = stations_info.astype({'stationCode':'int32'})
stations_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationCode  243 non-null    int32
 1   stationName  243 non-null    object
dtypes: int32(1), object(1)
memory usage: 3.0+ KB

In [30]:
#使用pd.merge()
df1 = pd.merge(df2,stations_info,left_on='車站代碼',right_on='stationCode')
df2 = df1.rename(columns={'stationName':'車站名稱'})

In [36]:
#df2.drop(columns=['車站代碼','stationCode'])
df3=df2.reindex(columns=['乘車日','車站名稱','進站人數','出站人數'])
df3

            乘車日 車站名稱  進站人數  出站人數
0      20200101   基隆  7552  8154
1      20200101   三坑  1020  1135
2      20200101   八堵  1623  1972
3      20200101   七堵  4130  4813
4      20200101   百福  1818  2128
...         ...  ...   ...   ...
86927  20201231   瑞芳  3523  3602
86928  20201231  海科館     3    18
86929  20201231  八斗子    28    34
86930  20201231  四腳亭   609   604
86931  20201231   暖暖   377   444

[86932 rows x 4 columns]